.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
    align-items: center;
}
.login-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}
.login-container input .btn {
    margin-top: 10px;
    cursor: pointer;
}